{% extends 'base.html' %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-avatar">
        <img src="{{ url_for('static', filename=user.profile_image or 'default_avatar.jpg') }}" alt="Profile Image">
    </div>
    <div class="profile-info">
        <h1>Profil użytkownika {{ user.username }}</h1>
        <p>Imię: {{ user.first_name }}</p>
        <p>Nazwisko: {{ user.last_name }}</p>
        <p>E-mail: {{ user.email }}</p>
        <p>Pochodzenie: {{ user.country }}</p>
    </div>
</div>
<div class="posts-container">
    <h2>Posty użytkownika {{ user.username }}</h2>
    <div class="post-wall">
        {% for post in posts %}
        <div class="post">
            <h3>{{ post.title }}</h3>            
            <p>{{ post.content }}</p>
            {% if post.image %}
            <img src="{{ url_for('static', filename=post.image) }}" alt="Post Image" class="post-image">
            <p>{{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            {% endif %}
        </div>
        {% if not loop.last %}
        <hr> <!-- Linia oddzielająca posty -->
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
